$colors: (
    pr-very-dark-magnet: hsl(300, 43%, 22%),
    pr-soft-pink: hsl(333, 80%, 67%),
    nt-dark-grayish-magenta: hsl(303, 10%, 53%),
    nt-light-grayish-magenta: hsl(300, 24%, 96%),
    nt-white: hsl(0, 0%, 100%),
    stars: rgb(226, 128, 63),
);

$block-radius: 7px;

$review-pad: 3em;

